{
	"extends": "eslint:recommended",
	"rules": {
		"no-console": 1,
		"semi": ["error", "always"],
		"quotes": ["error", "single"]
	},
	"env": {
		"browser": true,
		"node": true,
		"jquery": true
	}
}
